body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}

.colored-section{
    background-color: rgb(241,246,253);
}

.left{
    text-align: left;
}

.shadow-bottom{
    box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -moz-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -webkit-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -o-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
}

.green-color{
    color: #1ca803;
}


/* navigation  */
.header-contaier{
    position: relative;
}

/* navigation bar */
.nav-lg{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0%;
    background-color: white;
    position: fixed;
    z-index: 30;
    width: 100%;
}

.logo{
    width: 68%;
    height: 15%;
}

.nav-lg a{
    display:block ;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-lg a:hover{
    display:block ;
    text-decoration: none;
    color: rgb(33, 165, 12);
}


.brand-holder{
    margin-left: 3%;
    padding: 0.3% 0 0.3% 1%;
    text-align: center;
}

.nav-holder{
    padding: 2% 0 0 2% ;
}

.home{
    margin-left: 32%;
}

#last{
    padding-right: 0;
}


.nav-sm{
    display: none;
}


.nav-sm-dropdown{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.925);
    overflow-x: hidden;
    transition: 0.7s;
}


.nav-sm-dropdown a{
    text-decoration: none;
    color: white;
    display: block;
}

.nav-sm-dropdown .nav-holder{
    padding: 3% 0 3% 2% ;
}

.nav-sm-dropdown .nav-holder:hover{
    background-color:rgb(46, 46, 46) ;
}

.nav-sm-dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.925);
}


nav{
    position: relative;
}

.animated{
    position: relative;
}

.animated:before{
    content: '';
    position: absolute;
    width: 1%;
    height: 0%;
    border-bottom: 3px solid white;
    bottom: 0.3px;
    /* -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); */
    -webkit-transition: width 0.3s ease-in,border-bottom 0.3s ease-in;
    transition: width 0.3s ease-in,border-bottom 0.3s ease-in;
}

.animated:hover:before{
    /* -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); */
    width: 100%;
    border-bottom: 3px solid #1ca803;
}


/* header section*/
.about-intro{
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/consultation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5% 0 0 0;
    color: white;
}

.about-intro h1{
    padding: 9% 0 2% 0;
    font-size: 4rem;
}


.about-intro p{
    font-size: 1.2rem;
    padding: 0% 0 2% 0;
}

.bar{
    width: 3%;
    height: 3%;
}


/* services section */

.intro-text{
    padding: 2% 2.5% 0% 2.5%;
    text-align: center;
    
}



.targeted{
    border-top: 81px solid transparent;
    margin-top: -81px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#intro{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.bar{
    height: 0.6%;
    width: 4%;
}

.explainer{
    padding-bottom: 2%;
}

.services-row{
    width: 95%;
    margin: 0 auto;
}

.service-card{
    padding:auto 1.5%;
    margin-bottom: 8%;
}

.service-holder{
    background-color:#ffffff;
    border-radius: 8px 8px !important;
    box-shadow: 0 0 20px 10px rgba(228, 224, 224, 0.986);
    -moz-box-shadow: 0 0 20px 10px rgba(228, 224, 224, 0.986);
    -webkit-box-shadow: 0 0 20px 10px rgba(228, 224, 224, 0.986);
    -o-box-shadow: 0 0 20px 10px rgba(228, 224, 224, 0.986);
}

.service-details{
    padding: 5% 7%;
    background-color:#ffffff;
    border-radius: 8px 8px !important;
}

.service-details h5{
    font-weight: bold;
}

.service-img{
    width: 100%;
    /* height: 25%; */
    border-radius: 8px 8px 0 0;
}

.start-btn{
    background-color: #1ca803;
    border-color: #1ca803;
}



.service-holder{
    position: relative;
}

.service-holder:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #1ca803;
    bottom: 0.3px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.service-holder:hover:before
{
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
} 


/* form area */

.form-area{
    width: 98%;
    margin: 0 auto;
}

.pic-holder{
    margin-bottom: 7% !important;
}

.pic-holder img{
    width: 100%;
    height: 100%;
    box-shadow:-14px 14px #1ca803;
}

.content{
    margin-bottom: 1%;
}



/* form styling */

.info{
    margin-bottom: 8% !important;
}


.input-section{
    padding: 4% 4% 7% 4%;
}

.input-header{
    border-left: 3px solid #1ca803;
    padding: 0 0 0 1%;
    margin-bottom: 5%;
}

.email{
    padding: 2% 0 15% 0;
}

span{
    color: #1ca803;
}

.form-checkbox{
    padding: 4% 0 4% 0;
}

.uil2{
    color: #1ca803;
    font-size: 2rem;
}

.contact-text{
    padding: 5% 0 0 0;
}

.input-intro{
    padding-top: 4%;
}

.icon{
    color: #1ca803;
}


/* footer styling */
footer{
    background-color: #07020D;
    color: white;
    padding: 6% 5% 2% 4%;
}

.quick,.quick:hover{
    display:block;
    text-decoration: none;
    color: white;
}

.footer-links{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.footer-links:hover{
    color: #1ca803;
    text-decoration: none;
    transform: translateX(7px);
}


.welcome-footer{
    position: relative;
    padding-left: 13%;
}

.welcome-footer::before{
    content:"" ;
    position: absolute;
    left: 0;
    top: 50%;
    width: 10%;
    height: 12%;
    background-color: #1ca803;

}

footer .uil{
    font-size: 1.8rem;;
}

footer .uil:hover{
    color: #1ca803;
}

.input-group-text{
    height: 100%;
    background-color: #1ca803;
    border: none;
}

.footer-bottom{
    border-top:1px solid #b1adad  ;
}


.footer-bottom p{
    text-align: center;
    padding-top: 2%;
}
.aoe{
    color: #1ca803 !important;
}

.input-group-text a{
    color: white;
}



.input-group-text a:hover{
    color: white !important;
}

.subscribe-input{
    height: 60px ;
}

@media  only screen and (max-width:1184px){
    .home{
        margin-left: 17%;
    }
}

@media  only screen and (min-width:967px){
    .nav-sm-dropdown{
        display: none !important;
    }
}

@media  only screen and (max-width:967px){
    
    .nav-lg{
        display: none;
    }   

    .nav-sm{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0%;
        position: fixed;
        background-color: white;
        z-index: 30;
        width: 100%;
    }

    .nav-sm .logo{
        width: 68%;
        height: 100%;
    }

    .droper{
        margin-left: 60%;
        margin-top: 1%;
        display: block;
    }

    .icon{
        color: #21a50c;
    }

    .closenav{
        text-align: right;
        font-size: 3rem !important;
    }

    .about-intro h1{
        padding: 17% 0 2% 0;
        font-size: 3.4rem;
    }

    .about-intro p{
        font-size: 1rem;
    }

   
}

@media  only screen and (max-width:650px){
    .about-intro h1{
        padding: 28.7% 0 2% 0;
    }
}

@media  only screen and (max-width:768px){

    .footer-intro{
        margin-bottom: 7%;
    }


}

@media  only screen and (max-width:500px){
    .nav-sm .logo{
        width: 90%;
        height: 85%;
    }

    .about-intro h1{
        padding: 40% 0 2% 0;
        font-size: 2.8rem;
    }

    .row{
        padding-bottom: 4%;

    }

    .btn2{
        margin-bottom: 6%;
    }

    .input-section{
        padding-top: 10%;
    }

    footer{
        padding-top: 16%;
    }

    #intro{
        font-size: 1.9rem; 
    }

    .intro-text{
        padding: 17% 2.5% 0% 2.5%;
    }

    .bar{
        height: 0.8%;
        width: 7%;
    }

    .droper{
        margin-left: 37% !important;
        margin-top: 11%;
        margin-right: 1.5% !important;
    }


}

@media  only screen and (min-width:1400px){
    
    .nav-holder{
        padding: 1% 0 0 5% ;
    }
    
    .home{
        margin-left: 40%;
    }
    
    .logo{
        width: 72%;
        height: 18%;
    }

}
